# Virtual environment
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
.Python

# Jupyter
.ipynb_checkpoints/

# Data (optional, descomenta si no quieres subir los datos)
# data/raw/
# data/processed/